#datatablesSimple {
  width: 100%;
  border-collapse: collapse;
}

#datatablesSimple thead {
  background-color: #4CAF50;
  color: white;
}

#datatablesSimple th, #datatablesSimple td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#datatablesSimple tr:hover {background-color: #f5f5f5;}
