<div class="row">
  <div class="col-xl-3 col-md-6" routerLink="/customer">
    <div class="card bg-primary text-white mb-4">
      <div class="card-body">Customer</div>
      <div class="small text-white"><i class="fas fa-angle-right"></i></div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6" routerLink="/account">
    <div class="card bg-warning text-white mb-4">
      <div class="card-body">Account</div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6" routerLink="/bill">
    <div class="card bg-success text-white mb-4">
      <div class="card-body">Bill</div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6" routerLink="/withdrawal">
    <div class="card bg-danger text-white mb-4">
      <div class="card-body">Withdrawal</div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6" routerLink="my-component">
    <div class="card bg-info text-white mb-4">
      <div class="card-body">Deposit</div>
      <div class="small text-white"><i class="fas fa-angle-right"></i></div>
    </div>
  </div>
</div>


  <router-outlet />

